/* General Styles */
@font-face {
    font-family: 'Projekt Blackbird';
    src: url('fonts/Projekt\ Blackbird.otf') format('otf');
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    color: #333;
}

a {
    color: #4169E1;
  }

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    font-family: "DM Sans", sans-serif;
}

nav .logo {
    font-size: 22px;
    font-weight: bold;
    color: #363636;
    font-family: 'Projekt Blackbird', sans-serif;
}

nav .nav-links {
    list-style: none;
    display: flex;
    font-size: 14px;
    gap: 15px;
}

nav .nav-links li {
    display: inline;
}

nav .nav-links a {
    text-decoration: none;
    color: #00CE93;
    padding: 8px;
}

nav .nav-links a:hover {
    background-color: #E1EEE6;
    border-radius: 10px;
}

/* Home Section */
.home-section {
    background-image: url('images/background.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.home-section h3 {
    font-size: 22px;
    font-family: 'Projekt Blackbird', sans-serif;
}

.home-section p {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
}

/* About Section */
.about-section {
    padding: 60px 20px;
    text-align: left;
    font-family: 'Projekt Blackbird', sans-serif;
}

.about-section img {
    width: 200px;
    border-radius: 10%;
    margin-top: 20px;
}

/* Research Section */
.research-section {
    background-color: #f2efea;
    padding: 60px 20px;
    font-family: 'Projekt Blackbird', sans-serif;
}

.research-section ul {
    margin: 0 auto;
    text-align: left;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    line-height: 140%;
}

/* Publications Section */
.publications-section h2{
    font-family: 'Projekt Blackbird', sans-serif;
}

.publications-section {
    font-family: "DM Sans", sans-serif;
    padding: 60px 20px;
    font-size: 14px;
    line-height: 140%;
}

.publications-section li {
    margin-bottom: 15px;
}

/* Contact Section */

.contact-section h2 {
font-family: 'Projekt Blackbird', sans-serif;
}

.contact-section {
    background-color: #f0f0f0;
    padding: 60px 20px;
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-section button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contact-section button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #808080;
    color: white;
    text-align: center;
    padding: 15px 20px;
    font-size: 13px;
    font-weight: lighter;
    line-height: 150%;
}
